In [1]:
import matplotlib as mpl 
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
'''
from sklearn import cluster, preprocessing, linear_model, tree, model_selection, feature_selection
from sklearn import base, ensemble, decomposition, metrics, pipeline, datasets, impute
from skopt import gp_minimize, space, gbrt_minimize, dummy_minimize, forest_minimize
from functools import partial
import os
import lightgbm as lgb
import xgboost as xgb
import catboost as cb
from sklearn import ensemble, preprocessing, tree, model_selection, feature_selection, pipeline, metrics, svm
from imblearn import under_sampling, over_sampling, combine
from imblearn import pipeline as imb_pipeline
from imblearn import ensemble as imb_ensemble
from sklearn.model_selection import StratifiedKFold'''

'\nfrom sklearn import cluster, preprocessing, linear_model, tree, model_selection, feature_selection\nfrom sklearn import base, ensemble, decomposition, metrics, pipeline, datasets, impute\nfrom skopt import gp_minimize, space, gbrt_minimize, dummy_minimize, forest_minimize\nfrom functools import partial\nimport os\nimport lightgbm as lgb\nimport xgboost as xgb\nimport catboost as cb\nfrom sklearn import ensemble, preprocessing, tree, model_selection, feature_selection, pipeline, metrics, svm\nfrom imblearn import under_sampling, over_sampling, combine\nfrom imblearn import pipeline as imb_pipeline\nfrom imblearn import ensemble as imb_ensemble\nfrom sklearn.model_selection import StratifiedKFold'

In [2]:
train=pd.read_csv('Train_aBjfeNk.csv')
test=pd.read_csv('Test_LqhgPWU.csv')
test1=pd.read_csv('test.csv')
train_copy  = train.copy()
test_copy = test.copy()
train_copy['tr'] = 1
test_copy['tr'] = 0

appended = pd.concat([train_copy, test_copy], axis = 0)
appended.to_csv('appended.csv', index = None)

In [3]:
final=test.merge(train,how='left',on='ID')

In [4]:
final.head()

,ID,Gender_x,Ever_Married_x,Age_x,Graduated_x,Profession_x,Work_Experience_x,Spending_Score_x,Family_Size_x,Var_1_x,Gender_y,Ever_Married_y,Age_y,Graduated_y,Profession_y,Work_Experience_y,Spending_Score_y,Family_Size_y,Var_1_y,Segmentation
0,458989,Female,Yes,36,Yes,Engineer,0.0,Low,1.0,Cat_6,Female,Yes,42.0,Yes,Engineer,1.0,Low,1.0,Cat_6,B
1,458994,Male,Yes,37,Yes,Healthcare,8.0,Average,4.0,Cat_6,Male,Yes,38.0,Yes,Healthcare,8.0,Average,4.0,Cat_6,C
2,458996,Female,Yes,69,No,NaN,0.0,Low,1.0,Cat_6,Female,Yes,71.0,No,NaN,1.0,Low,1.0,Cat_6,A
3,459000,Male,Yes,59,No,Executive,11.0,High,2.0,Cat_6,Male,Yes,58.0,No,Executive,12.0,High,2.0,Cat_6,C
4,459001,Female,No,19,No,Marketing,NaN,Low,4.0,Cat_6,Female,No,20.0,No,Marketing,NaN,Low,4.0,Cat_6,C

In [5]:
final.shape

(2627, 20)

In [6]:
final1=final.merge(test1,how='left',on='ID')

In [7]:
test1.shape

(295, 2)

In [8]:
filler=test1.Segmentation.tolist()
final.loc[final.Segmentation.isnull(), 'Segmentation'] = filler

In [9]:
final1=final[['ID','Segmentation']]

In [10]:
final1.to_csv('final_sub.csv', index = None)

In [11]:
final.Segmentation.isnull().sum()

0